
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  --color-primary: #199a48;
  /* Replace with your primary color */
  --color-secondary: #bfb02a;
  /* Replace with your secondary color */
  max-width: 1280px;
  
}

/* CSS FOR POST */
#freeform {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
  /* Allows vertical resizing */
  transition: border-color 0.3s ease;
  /* Smooth transition for border color */
}

#freeform::placeholder {
  color: #999;
  /* Placeholder text color */
}

#freeform:focus {
  border-color: #3498db;
  /* Highlight border color on focus */
  outline: none;
  /* Remove default focus outline (not recommended for accessibility) */
}

/* Style to make it look like a floating label input */
.label {
  position: relative;
  margin-bottom: 10px;
}

.label textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
  transition: border-color 0.3s ease;
}

.label label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 12px;
  color: #999;
}

.label textarea:focus {
  border-color: #3498db;
}

/* END  */

.post-music {
  max-width: 500px;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
        /* Horizontal centering */
  align-items: center;
        /* Vertical centering */
  
}

.login {
  max-width: 380px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: rgb(187, 255, 131);
  transition: border-color 0.25s;
  max-width: 200px;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.fullscreen-img {
  width: 100%;
  max-height: 400px;
 
}

.app {
  width: 100%;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}



